.login-form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.login-form-title {
  text-align: center;
}

.login-form-group {
  align-self: center;
  display: flex;
}

.login-form-element-group {
  margin: 16px 0;
}

.login-form-input-element {
  border-radius: 0.25rem;
  border: 1px solid lightblue;
  min-width: 260px;
  padding: 6px 8px;
}

.login-form-input-element:hover {
  border: 1px solid lightblue;
  box-shadow: 0 0 2pt 0.5pt lightblue;
}

.login-form-input-element:focus {
  border: 1px solid lightblue;
  box-shadow: 0 0 2pt 2pt lightblue;
  outline-width: 0px;
}

.login-form-input-element.ng-invalid.ng-touched {
  border: 1px solid red;
}

.login-form-error-message {
  margin: 0;
}

.login-form-helper-message {
  color: red;
}

.login-form-submit-button {
  background-color: #5ebad6;
  border-radius: 0.25rem;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.login-form-submit-button:disabled {
  background-color: #9dc1cc;
}

.login-form-submit-button:hover {
  background-color: #2abeeb;
}
